* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 32px;
}

.firstPart {
    height: 800px;
    background-image: url('img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.halfWidth {
    float: left;
    width: 35%;
    /* margin: 10% 5%; */
}

.firstImage img {
    width: 100%;
}

.firstText {
    margin: 15% 2% 10% 13%;
}

.firstImage {
    margin: 5% 13% 10% 2%;
}

.myName {
    color: palevioletred;
    margin: 3% 0;
    font-size: 40px;
}

.firstPart p {
    line-height: 2;
}

.btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: palevioletred;
    font-size: 20px;
    padding: 15px 30px;
    margin: 15px 0;
    cursor: pointer;
}

.secondPart {
    height: 800px;
    background-image: url('img/biography-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.secondPart h1 {
    padding: 15px 0;
}

.secondImage img {
    width: 90%;
}

.secondImage {
    margin: 5% 2% 10% 13%;
}

.secondText {
    margin: 15% 13% 10% 2%;
}

.secondPart p {
    line-height: 2;
}

.latestWork {
    height: 600px;
    background-image: url('img/latest-work-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.latestWork h1 {
    position: relative;
    left: -100px;
    top: 70px;
}

.workImage {
    float: left;
}

.workImage img {
    width: 25%;
    margin: 60px 30px;
}

#img1 {
    margin-left: 150px;
}

.review {
    height: 650px;
    background: url('img/footer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.extras {
    text-align: center;
}

.extras h1 {
    padding: 30px;
    margin: 50px 10px;
}

.extras h4 {
    line-height: 3;
}

.extras h5 {
    color: rgb(95, 93, 93);
    line-height: 2;
    margin-bottom: 45px;
}

.extras p {
    width: 27%;
    margin: auto;
    line-height: 2;
    margin-bottom: 45px;
}

.pinkBox {
    width: 600px;
    height: 120px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 90px;
    background-color: #e75480;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.pinkBox p {
    margin: 20px 10px 15px 10px;
    padding-top: 20px;
}

.pinkBox a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
    color: rgb(172, 172, 172);
}