* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-image: url('img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.halfWidth {
    width: 35%;
    float: left;
}

.halfWidth p {
    line-height: 2;
    margin: 12px 0px;
    text-align: justify;
}

.halfWidth img {
    width: 100%;
}

.bannerText {
    margin: 15% 5% 13% 10%;
}

.bannerImage {
    margin: 6% 5% 2% 9%;
}

.myName {
    color: palevioletred;
    font-size: 40px;
    margin: 3% 0;
}

.btn {
    padding: 15px 30px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: palevioletred;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.biography {
    background-image: url('img/biography-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
}

.latest-work {
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.workTitle {
    text-align: center;
    margin: 40px 0px;
}

.workImage {
    float: left;
}

.workImage img {
    width: 25%;
    margin: 60px 30px;
}

#img1 {
    margin-left: 150px;
}

.review {
    background: url(img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.extras {
    text-align: center;
}

.extras h1 {
    padding: 30px;
    margin: 50px 10px;
}

.extras h4 {
    line-height: 3;
}

.extras h5 {
    color: rgb(95, 93, 93);
    line-height: 2;
    margin-bottom: 45px;
}

.extras p {
    width: 27%;
    margin: auto;
    line-height: 2;
    margin-bottom: 45px;
}

.pinkBox {
    width: 600px;
    height: 120px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 90px;
    background-color: #e75480;
    color: white;
    border-radius: 10px;
    text-align: center;
}

.pinkBox p {
    margin: 20px 10px 15px 10px;
    padding-top: 20px;
}

.pinkBox a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
    color: rgb(172, 172, 172);
}